.match-header {
    background-color: rgb(208, 219, 249);
  }
  #team-1 {
      position: relative;
      width: 50%;
      float: left;
      height:100vh;
      background-color: white;
    }
    
  #team-2 {
      position: relative;
      width: 50%;
      float: left;
      height:100vh;
      background-color: white;
    }
  
    #team-members {
      text-align: left;
      padding-left: 100px;
  }
  
    hr.gradient {
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, transparent, #CCC, transparent);
    }
    .MatchInfoPage {
        background-color: white;
    }