.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
}


.forgot-password-box {
    display: inline-block;
    width: 275px;
    height: 200px;
    position: fixed;
    margin: auto;
    top: 20%;
    left: 40%;
    border-radius: 25px;
    text-align: left;
    color: #f7a642;
}